body,html {
    width: auto;
    height: auto;
    font-family: 'VT323', monospace;
    font-style: normal;
    font-variant: normal;
    font-size: 20px;
}

/* Container in which data is displayed */
.box {
    height:auto;
    background-color:black;
    padding: 5px;
    color:limegreen;
    border-width: 3px;
    border-color: grey;
    border-style: solid;
    outline-color: darkgrey;
    margin: 10px;
}
