<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andpoint Listener</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
</head>
<script type="text/javascript">
        $(document).ready(function () {
		 $('#clearLogs').click(function(){
		     var r = confirm("Are you sure you want to clear logs?")
             if(r == true) {
                 $.ajax('/clear_logs',   // request url
                     {
                         success: function (data, status, xhr) {
                             alert(data)
                             location.reload()
                         }
                     });
             }
		 });
        });

</script>
<body>
<h1 style="text-align: center">Received Data</h1>
<div class="box" style="font-family: 'Ubuntu Mono', monospace;">
    <input type = "button" id="clearLogs" value = "clear" style="color: white; font-family: 'VT323', monospace; font-size: 16px; background: none; border: 1px solid limegreen; float: right">
    <br>
     {% autoescape false %}
    <span>{{ output }}</span>
    {% endautoescape %}
</div>
</body>
</html>
